{% extends 'base.html' %}
{% block title %}Add Blog{% endblock %}
{% block content %}
{% load static %}
<div class="container mt-3">
{% if messages %}
{% for m in messages %}
<div class="alert alert-{{m.tags}} alert-dismissible">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{m}}
</div>
{% endfor %}
{% endif %}
{% if user.is_authenticated %}
	<div class="card col-md shadow-lg mx-2 h-100">
      <div class="card-body">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
        <h3 class="text-center text-ligth bg-secondary p-2 border rounded">Add comment</h3><br>
        {{form.media}}
        {{form.as_p}}
        <div class="row">
          <div class="col">
            <input type="reset" name="Reset" class="btn btn-outline-info my-2 form-control">
          </div>
          <div class="col">
            <input type="submit" name="Create" class="btn btn-outline-success my-2 form-control">
          </div>
        </div></form>
      </div>
    </div>
</div>\
{% else %}
 <h3>Your are not allowed to comment untill you were signed in !!</h3>
 {% endif %}
{% endblock %}