{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
{% load static %}
<div class="container mt-2 my-4">
  <div class="row">
    {% if posts %}
    {% for z in posts %}
    <div class="col col-md-3" >
      <div class="card mt-2 text-center shadow-lg">
          <img src="{{z.image.url}}" height="120px" width="100%" class="card-img-top">
          <div class="card-body">
          <h3 class="mt-2">{{z.title}}</h3>
          <p>author: {{z.user}}</p><br>
          <p>{{z.description | slice:"100"}}</p>
          <a href="{% url 'detail' z.pk %}">Read more</a>
          </div></div>
    </div>
    {% endfor %}
    {% else %}
    <h2>Sorry, No related blogs available.......</h2>
    {% endif %}
 </div></div>
{% endblock %}