{% extends 'base.html' %}
{% block title %}password reset confrim{% endblock %}
{% block content %}
<style>
    .errorlist{
        color: red;
    }
</style>
<div class="container mt-4">
	<div class="card col-md-10 mx-auto shadow-lg">
		<div class="card-body">
			<h2 class="font-weight-bold mt-3">Password Reset Confirm</h2>
			
					<hr>
			        <p>Please enter your new password.</p>
			        <form method="POST">
			            {% csrf_token %}
			            {{ form}}        <br>            
			            <button class="btn btn-primary" type="submit">Reset password</button>
			        </form>
		</div>
	</div>
</div>
{% endblock %}
