{% extends 'base.html' %}
{% block title %}Password Updated{% endblock %}
{% block content %}
{% load static %}
<style>
    .errorlist{
        color: red;
    }
</style>
<div class="container mt-4">
	<div class="card col-md-10 mx-auto shadow-lg">
		<div class="card-body">
			<h3>User Profile</h3><br>
			<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-2">
      {% if page_user.propic.url %}
       <img src="{{page_user.propic.url}}" class="card-img" alt="propic">
      {% else %}
      <img src="{% static 'images/blogimages/profile/user.png' %}" class="card-img" alt="propic" width="130px" height="230px">
      {% endif %}
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">
            {{page_user}}
        </h5>
        <p class="small text-muted">
            {% if page_user.website_url %}
            <a href="{{page_user.website_url}}">Website</a>
            {% endif %}
            {% if page_user.fb_url %}
             | <a href="{{page_user.fb_url}}">Facebook</a>
            {% endif %}
            {% if page_user.instagram_url %}
             | <a href="{{page_user.instagram_url}}">Instagram</a>
            {% endif %}
            {% if page_user.linkedin_url %}
             | <a href="{{page_user.linkedin_url}}">LikedIn</a>
            {% endif %}
        </p>
        <p class="card-text">
            {{page_user.bio}}
        </p>
      </div>
    </div>
  </div>
</div>
		</div>
	</div>
     <div class="row mt-4">
       {% for z in posts %}
       <div class="col col-md-3" >
         <div class="card mt-2 text-center shadow-lg">
             <img src="{{z.image.url}}" height="120px" width="100%" class="card-img-top">
             <div class="card-body">
             <a href="{% url 'detail' z.pk %}"><h3 class="mt-2">{{z.title}}</h3></a>
             <p>author: {{z.user}}</p>
             {% if user.is_authenticated %}
             {% if user.id == z.user.id %}
             <div class="row mx-2">
               <a href="{% url 'update' z.pk %}" class="btn btn-outline-warning mx-2">Update</a>
               <a href="{% url 'delete' z.pk %}" class="btn btn-outline-danger mx-2">Delete</a>
             </div>
             {% endif %}
             {% endif %}
             </div></div>
       </div>
       {% endfor %}
    </div>
</div>
{% endblock %}